glove.6B.50d.txt
*.py[cod]
*.ipynb_checkpoints
.cproject
.project
.pydevproject
*.model
# folder: / means the folder where .gitignore is 
/data/
transformers/test_save_dataset/
transformers/data/
transformers/model/
transformers/test-trainer/
cs224n/assignments/4_nmt/model.bin
cs224n/assignments/4_nmt/model.bin.optim
cs224n/assignments/4_nmt/outputs/
cs224n/assignments/4_nmt/vocab.json
# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject 

